* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/fundo.png) repeat-x;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#container {
    width: 750px;
    margin: 0 auto;

}

/* TOPO */

#topo {
    background: url(img/detalhe-topo.png) no-repeat right top;
    height: 200px;
}

.logo {
    width: 152px;
    height: 89px;
    background: url(img/logo.png) no-repeat center;
    text-indent: -3000px;
}

#topo ul {
    margin-top: 30px;
	background: #b10333;
	float: left;
    list-style: none;
}

#topo ul li {
    float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
}

#topo ul a:hover {
    color: #e50040;
}

body.home #menu a#home,
body.brasil #menu a#brasil,
body.fotos #menu a#fotos {
    color: #fff;
    background: #DE0440;
	cursor: text;
}

/* --------- */

/* ESTRUTURA DO CONTEÚDO */

#conteudo {
    margin-top: 30px;   
    background: #f5f5f5;
}

#lateral {
    width: 180px;
    float: left;
    margin-left: -750px;
    margin-bottom: 20px;
}

#primario {
    width: 270px;
    float: left;
    margin-left: 195px;
    margin-bottom: 20px;
}

#secundario {
    width: 270px;
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0px;
    margin-bottom: 20px;
}

#duas-colunas #primario {
    width: 555px;
}

.caixa {
    background: #f3f3f3 url(img/fundo-caixa.png);
    padding: 5px;
    margin: 10px 0px;
}

.conteudo-caixa {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

h2 {
    font-size: 1em;
    background: #294c71;
	color: #fff;
	padding: 5px;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* CONTEÚDO LATERAL */

.conteudo-caixa li {
    list-style: none;
}

.conteudo-caixa ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #f3f3f3;
    line-height: 30px;
}

#lateral ul a:hover {
    background: #f9f9f9 url(img/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label {
    cursor: pointer;
    display: block;
}

input {
    font-size: 0.9em;
    background-color: #fff;
    padding: 5px;
    width: 125px;
}

input.submit {
    width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
}

/* -------- */

/* CONTEÚDO PRINCIPAL */

.imagem-principal {
    width: 98%;
    border: solid 3px #dfdfdf;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #de003e;
}

#lista-noticias li{
    background: #fff;
    margin-top: 10px;
    padding: 2px;
    border-bottom: 1px solid #ccc ;
    height: 62px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a p{
    font-size: 0.7em;
}

#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
    background: white;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

a {
    color: #b10333;
    cursor: pointer;
    text-decoration: underline;
}
p {
    display: block;
    color: #000;
}


/* -------- */

/* RODAPÉ */

#container-rodape {
    background: #294c71;
	padding: 20px;
    clear: both;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
}

